// @import "bootstrap";

$color-background: #000000;
$color-content: lightblue;

body {
  background-color: $color-background;
  margin: 0;
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  margin: auto;
  // background-color: rgb(221,223,223);
  transform: translate3d(0, 0, 0);
}

canvas#clouds {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: -1;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.hud {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.notifications {
  $color-content: lightblue;
  color: $color-content;
}