// @import "bootstrap";

body {
  background-color: black;
  margin: 0;
}

canvas {
  display: block;
  margin: auto;
  // background-color: rgb(221,223,223);
  transform: translate3d(0, 0, 0);
}

canvas#clouds {
  position: absolute;
  left: 50%;
  top: 0;

  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}