// @import "bootstrap";

body {
  background-color: red;
  // display: table-row;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: futura;
  // font-size: 4em;
}

span {
  display: block;
  text-align: center;
  vertical-align: middle;
}

