@import 'mobile/logo';
@import 'mobile/emojidialog';

$color-background: #000000;
$color-content: lightblue;

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: $color-content;
  background-color: $color-background;
  
  margin: 0;
  padding: 0;

  text-align: center;
  font-family: futura !important;
  text-transform: uppercase;

  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  will-change: transform, -webkit-transform;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;
  padding-bottom: 20px
}

span {
  display: block;
  text-align: center;
  vertical-align: middle;
}

.outline {
  color: transparent !important;
 -webkit-text-stroke-width: 0.5px;
 -webkit-text-stroke-color: $color-content;
}

#clouds, #hud {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}